

/* 헤더 */
header{
    position: sticky;
    width: 100%;
    border: 1px solid black;
    top:0;
    z-index: 10;
    background-color: white;

}

.check{
    display: none;
}

/* utill */
.util{
   height: 40px;
   padding: 10px;
    background-color: var(--main-color);
}

.util .util-menu{ display: flex; height: 100%;
     justify-content: flex-end;
    align-items: center;}

.util .util-menu li{
    display: inline block; margin: 0 10px;
   }

/* clearfix */
.util .util-menu::after{
    display: block;
    content: '';
    clear: both;
}


/* menu */
.menu {
    display: flex;
    position: relative;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.menu .menu-left a,
.menu .menu-right a{
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: var(--sub-color);
    color: white;
    font-size: 30px;


}
.menu .menu-center nav ul li{
    display: inline-block;
    height: 80px;
    line-height: 80px;
}
.menu .menu-center nav ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 32px;
    font-weight: bold;
}

.menu .menu-center nav ul li a:hover{
    background-color: var(--sub-color);
    color: white;
}

/* pc */

.mobile{display: none;}

/* mobile */
/* 반응형 - 960px 이하 */
/* screen       : 디바이스 화면 */
/* (max-width)  : 최대 가로 사이즈 */
/* 디바이스 화면이 0 ~ 960px 인 경우 */
@media screen and (max-width: 960px) {
    .pc {display:none;}
    .mobile {display: inherit;}
    
}


nav.mobile ul li{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid black;
}

nav.mobile ul li a{
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

nav.mobile ul li a:hover{
    background-color: royalblue;
    color: white;
}


/* 사이드바 */
.sidebar{
    width: 330px;
    height: calc(100vh - 120px);
    position: fixed;
    top: 120px;   
    right: -100%;
    box-shadow: -2px 2px 5px rgba(0, 0 , 0, 0.6);
    transition: right 0.5s;
    z-index: 20;
    background-color: white;
}


.sidebar .sidemenu li{
    
    border-bottom: 1px solid black;
}
.sidebar .sidemenu li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.sidebar .sidemenu li a:hover{
    background-color: var(--sub-color); color: white ;
    color: white;
}
.sidebar .sidemenu li a h3{font-size: 20px;}
.sidebar .sidemenu li a p{font-size: 12px;}





.bar{
    display: inline block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    transition:  all 0.4s;
    
}

/* 사이드바 활성화 */
#bars:checked ~ .sidebar{
    right: 0;

}

/* 햄버거 메뉴 스타일 및 애니메이션 */
.bars{
    display: inline-block;
    position: relative;
    width: 32px;
    height: 24px;
    top: 12px;
    left: 18px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* 행버거 메뉴 버튼 체크 */
#bars:checked ~ header .bars .top{
    transform: rotate(40deg) translate(3px, -1px);
    transition: all 0.4s;
    transform-origin: top left;
}

#bars:checked ~ header .bars .mid{
   opacity: 0;
   transition:  all 0.4s;
}

#bars:checked ~ header .bars .bottom{
    transform: rotate(-48deg) translate(-1px, 2px);
    transition: all 0.4s;
    transform-origin: top left;
}

.bar.top{top: 0; left: 0;}
.bar.mid{top: 50%; left: 0; transform: translateY(-50%);}
.bar.bottom { bottom: 0; left: 0;}

/* 사이드 활성화 */
#bars:checked ~ .sidebar{
    right: 0;
}



.floating{
    position: fixed;
    right: 40px;
    bottom: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    z-index: 10;
}

.floating a{
    display: inline-block;
    width: 100%;
    height: 100%; text-align: center;
    line-height: 47px;
    color: var(--sub-color);
    font-size: 40px;
    user-select: none;
}

html{
    scroll-behavior: smooth;
}

/* 메인 */
.container{
max-width: var(--container-size);
margin: 0 auto;
position: relative;
}

section{

   
}
/* ========= 섹션01 : 메인 슬라이드 =========== */

#section1{
    position: relative;
    overflow: hidden;
    height: 600px;
    padding-top: 0;
}

/* 가로 슬라이드 */
.slide{
    position: absolute;
    width: calc(var(--container-size)*3);
    animation-name: slide;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
.slide img{
    width: var(--container-size);
    height: 600px;
    float: left;
}

@keyframes slide {
    0%{left:0}
    33.333% {left:0;}
    66.666% {left: calc(var(--container-size) *-1)}
    100%{left: calc(var(--container-size) *-2);}
    
}


/* ========= 섹션02 : 메인 슬라이드 =========== */
#section2

{
    width: 100%;
    min-height: 400px;
    padding: 100px;
}
.card-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 100%;
    max-width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}
.card-title{
    text-align: center;
    font-size: var(--text-title);
    margin-top: 10px;
}
.card .card-content{
    font-size: var(--text-normal);
    padding: 10px 20px 40px;
}
.card .card-bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.card .card-bottom i{
    font-size: 32px;
    color: #fc4668;
}

/* ========= 섹션03, 04 :미디어 텍스트 섹션 =========== */
.layout-detail{}

.layout-detail .inner{display: flex;
justify-content: center;
column-gap: 100px;}

.layout-detail .inner .detail-img{}

.layout-detail .inner .detail-img img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.layout-detail .inner .detail-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.layout-detail .inner .detail-content .content-box h3{
    font-size: var(--text-title);
}
.layout-detail .inner .detail-content .content-box p{
    font-size: var(--text-normal);
}
.layout-detail .inner .detail-content .btn-box{
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn{
display: inline-block;
min-width: 120px;
padding: 12px 24px;
background-color: var(--sub-color);
color: white;
border-radius: 10px;
}
.layout-detail.reverse .detail-img{ order: 2;}
.layout-detail.reverse .detail-cotent{order: 1;}

/* 푸터 */
footer{
    width: 100%;
    min-height: 480px;
    background-color: #212121;
    margin-top: 50px;
    position: relative;
    color: white;
}
footer .footer-menu{
    display: flex;
    justify-content: center;
    column-gap: 400px;
    padding-top: 50px;
    padding-right: 200px;

}
footer .footer-menu .site-map{
    display: flex;
    column-gap: 100px;
}
footer .footer-menu .site-map .item ul li {
    margin: 20px 0;
}

footer .footer-menu .family-site{}
footer .footer-menu .family-site select{
    position: relative;
    padding: 10px 30px;
    top: 15px; left: 60px;
}
footer .copy{
    text-align: center;
    padding: 50px;
}



/* =========================검색어======================= */

.main-tile{
    font-size: var(--text-title);
    margin-bottom: 20px;
}

.search-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input, .filter-select, .search-button{
    padding: 10px;
    font-size: var(--text-normal);
}

.search-input{
    flex-grow: 2;
margin-right: 10px;}
.filter-select{
    flex-grow: 1;
    margin-right: 10px;
}
.search-button{
    flex-grow: 0.5;
    background-color: var(--sub-color);
    color: black;
    cursor: pointer;
    border: none;

}
.search-button:hover{
    filter: brightness(90%);
}

/* 게시글 목록 */
.board-list{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.board-list th, .board-list td{
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}
.board-list td:nth-of-type(2){text-align: left;}
.board-list th{
    background-color: var(--main-color);
    color: white;
}

/* 페이지내이션 */
.pagenation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.page-link{
    margin: 0 5px;
    border: 1px solid var(--sub-color);
    color: var(--main-color);
    text-decoration: none;
    box-sizing: border-box;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.page-link:hover{
    background-color: var(--sub-color);
    color: black;
}
.page-link.selected{ background-color: var(--sub-color);
    color: black;}


    /* ==========갤러리============= */
    .txt-center{text-align: center;
    margin-bottom: 10px;}

    .grid{
        width: 100%;
        margin: 0 auto;
        margin-left: 10%;

       }
    .grid-item{
        width: 250px;
        margin-bottom: 10px;
      
    }

    .grid-item img{
        width: 100%;
        display: block;
        border-radius: 10px;
    }

    /* ============= 쇼핑몰 상품 목록 =============== */
    .container-lg{
        width: var(--container-lg-size);
        margin: 0 auto;
        position: relative;
    }



    .detail-area{
        display:flex;
        justify-content: flex-start;
        column-gap: 100px;
        padding: 100px 20px;
    }

    /* ===snb=== */
    .snb{}
    .snb ul{border: 1px solid var(--main-color);
    padding: 40px;}
    .snb ul li{margin: 14px 0;}
    .snb ul li.active{font-weight: bold;}

    /* 상품 목록 영역 */
    .product-box{min-width: 1100px;}

    /* 검색/필터 */
    .search-filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-filter input{
        padding: 10px;
        border: 1px solid var(--main-color);
        outline: none;
        font-size: var(--text-normal);
    }
    .btn-search{
        background-color: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
        padding: 12px;
    }

    .dropdown{
    }
    .dropdown > li{min-width: 140px;
        height: 40px;
        border: 1px solid var(--main-color);
        padding: 6px 16px;
        position: relative;
    }
    .dropdown > li a{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .dropdown li:hover .submenu{
        display: inherit;
    }


    .dropdown .submenu{
        list-style-type: none;
        display: none;
        position: absolute;
    top: 100%;
    left: 0;}
    .dropdown .submenu li{
        min-width: 140px;
        border: 1px solid var(--sub-color);
        border-bottom: 0;
        padding: 6px 16px;
        background-color: white;
    }

    .dropdown .submenu li:last-of-type{
        border: 1px solid var(--sub-color);
    }

    /* 상품목록 */
    .product-list{
    }
    .product-list .inner{
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 20px;
        row-gap: 20px;
        
    }
    .product-list .product-card{
        /* width: 90%; */
        /* width: 260px; */
        max-width: 260px;
        border: 1px solid black;
    }
    .product-list .product-card .img-box{
    }

    .product-list .product-card .img-box img{    
        width: 100%;
        max-height: 360px;    
        object-fit: cover;}
    .product-list .product-card .content-box{}
    .product-list .product-card .content-box .price{
        padding: 5px 0;
    }
    .product-list .product-card .content-box .price .n-price{
        text-decoration: line-through;
        color: #aaa;
    }
    .product-list .product-card .content-box .price .d-price{
        color: #fc4668;
    }
    .product-list .product-card .content-box .price .discount{
        display: inline-block;
        background-color: #fc4668;
        color: white;
        padding: 2px 4px;
        border-radius: 5px;
        font-size: 12px;
    }
    .product-list .product-card .content-box .title h3{
        width: 100%;
        white-space: nowrap;    /* 텍스트 줄바꿈 안함(한줄) */
        text-overflow: ellipsis; /* 말줄임)...._ */
        overflow: hidden;

    }
    .product-list .product-card .option-box{padding: 10px 0;}
    .color span{
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: gray;
        border-radius: 50%;
    }
    .color .option-red{
        background-color: #fc4668;
    }
    .color .option-green{background-color: #21ff21;}
    .color .option-blue{background-color: #3f5EFB;}

    .size{padding: 10px 0;}
    .size .option-size{
        display: inline-block;
    padding: 4px 8px;
    background-color: #aaa;
    color: white;
    font-size: 10px;
    }
    
    .size .option-size-active{
        display: inline-block;
        background-color: var(--sub-color);
        padding: 4px 8px;
        color: black;
        font-size: 10px;
    }

   
    .product-list .product-card .option-box .size .option-size .active{}
    .product-list .product-card .action-box{
     display: flex;
     justify-content: space-between;
     padding: 0 10px 10px;
    }
    .product-list .product-card .action-box i{
        font-size: 24px;
        color: #212121;
    }
    .product-list .product-card .action-box .action{
        display: flex;
        column-gap: 10px;
    }

    /* 페이지네이션 */

    .paginatipn{
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }
    .paginatipn ul{
        display: flex;
    }
    .paginatipn .page{
        width: 32px;
        height: 32px;
        line-height: 32px;
        border: 1px solid var(--main-color);
        border-radius: 8px;
        margin: 0 3px;
        color:black;
        text-align: center;
    }
    .paginatipn .page:hover,
    .paginatipn .page:focus,
    .paginatipn .page.activer{
        background-color: blue;
        color: white;
    }
    .paginatipn .page a{
        display: inline-block;
        width: 100%;
        height: 100%;
        color: inherit;
    }
/* 240쪽 section */

/* ============상품목록(반응형)====== */
/* ~1400px - 카드 3개 */
@media screen and (max-width: 1400px) {
    .container,
    .container-lg{
        width: 100%;
    }
    .detail-area{column-gap: 10%;}
    .product-box{width: 60%; min-width: auto;}
    .product-list .inner{grid-template-columns: repeat(3, auto);}
}
/* ~1200px - 카드 2개 */
@media screen and (max-width: 1280px) {
    .snb{display: none;}
    .product-list .product-card{
        padding: 20px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: 1px solid #eee;
        max-width: 100%;
    }
    .product-list .product-card .title{
        max-width: 300px;
    }
    .product-box{
        width: 100%;
    }
    .product-list .inner{
        grid-template-columns: repeat(2, auto);
    }
    
}

@media screen and (max-width: 720px){
    .product-list .product-card .img-box img{
        object-fit: contain;
    }
   .product-list .inner{
    grid-template-columns: repeat(1, auto);
   }
    
    
}
/* ~720px - 카드 1개 */