
.container{
    width: 1200px;
    height: 675px;
}
.slide{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}
.slide img{
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    /* transform: translateY(calc(675px * -2)); */
}