

header{
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.util{
    height: 40px;
    padding: 10px;
    background-color: var(--main-color) ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.util .util-menu{
    display: flex;
    column-gap: 20px;
    margin: 0 15px;

}

.menu{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: start;
}
.menu .menu-left a,
.menu .menu-right a{
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: var(--sub-color);
    color: white;
    font-size: 30px;
}
.menu .menu-center nav ul li{
    display: inline-block;
    height: 80px;
    line-height: 80px;
}

.menu .menu-center nav ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 32px;
    font-weight: bold;
}

.menu .menu-center nav ul li a:hover{
    background-color: var(--sub-color);
    color: white;
}

.bars{
    display: inline-block;
    position: relative;
    width: 32px;
    height: 24px;
    top: 0px;
    left: 4px;
    background-color: rebeccapurple;
}
