.slide-container {
    width: 1200px;
    height: 720px;
    margin: 150px auto;
}


.slide {
    width: auto;
    height: 720px;
    padding: 20px;
    box-sizing: border-box;
}


.slide img { 
    width: 100%;
    height: 100%;
}